--find-links https://download.pytorch.org/whl/cpu
torch>=2.0.0 --index-url https://download.pytorch.org/whl/cpu
torchvision>=0.15.0 --index-url https://download.pytorch.org/whl/cpu
ultralytics
rembg
celery
redis
sqlalchemy
psycopg2-binary
pillow
pi-heif
sqlmodel
boto3
