DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@host.docker.internal:5432/ai_image_editor
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
RUSTFS_ENDPOINT=http://host.docker.internal:9000
REDIS_URL=redis://redis:6379/0
AWS_ACCESS_KEY_ID=myaccesskey
AWS_SECRET_ACCESS_KEY=mysecretkey
RUSTFS_ENDPOINT_PUBLIC=http://localhost:9000
JWT_SECRET_KEY=
UPLOAD_BUCKET=uploads
EDIT_BUCKET=edits